MONGODB_URI=mongodb://localhost:62262/?directConnection=true
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=gemma:2b

DB_NAME=portfolio_rag
COLLECTION_NAME=portfolio_knowledge_base
CHAT_HISTORY_COLL=portfolio_chat_history
VECTOR_INDEX_NAME=vector_index
EMBEDDING_MODEL_ID=voyageai/voyage-4-nano
EMBEDDING_LOCAL_ONLY=false
